* {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none !important; 
    color: black !important;
    text-transform: uppercase;
    
}

h3{
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.42);
}
#color{
    background-color: rgb(223, 134, 17);
    border-radius: 25px;
    padding: 10px 0px;
    
}
.violao{
    transform: rotate(45deg);
}
#top:hover{
    color: white !important;
    transition: .4s;
}

.card{
    width: 80%;
    margin: auto;
    outline: .1rem solid rgb(53, 52, 52);
    outline-offset: -.1rem;
}
.card:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

.card{
    background-color: silver;
    border-radius: 20px;
    cursor: pointer;
    margin:5%

}
.card-body{
    width: 100%;
    background: linear-gradient(orange, rgb(44, 42, 42));
    border-radius: 20px;
    position: relative;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5);
}
.btn1{
    width:170px;
    padding: 10px 0px;
    text-align: center;
    margin: 20px 0px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid rgb(7, 7, 7);
    background:rgb(40, 40, 235);
    color:#fff;
    cursor: pointer;

    transition: background 0.2s;
}
.btn1:hover{
    background:rgb(4, 4, 88);
    
}
.btn2{
    width:90px;
    padding: 10px 0;
    text-align: center;
    margin: -10px 0px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid rgb(0, 0, 0);
    background:rgb(223, 58, 58);
    color:#fff;
    cursor: pointer;

    transition: background 0.2s;
}

.btn2:hover{
    background:rgb(99, 2, 2);
}
#rodape{
    background-color: rgb(223, 134, 17);
    border-radius: 25px;
    padding: 8px 0px;
    position: relative;
    top:20px
}
.card-subtitle{
    color:rgb(255, 255, 255) !important;
}

body{
    user-select: none;
}
.top{
    position: relative;
    display: inline-block;
}
.top::after{
        content:'';
        height: 3px;
        width: 0;
        background:blue ;
        bottom: -10px;
        left: 0;
        position: absolute;
        transition: 0.8s;
        
    }
.top :hover::after{
    width: 100%;
}

#footer{
    position: relative;
    top: 20px;
}

